#section1
{
    border: 1.5px solid black;
    text-align: justify;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
#section2
{
    text-align: justify;
    padding-left: 10px;
    
}
#section3
{
    text-align: justify;
    font-size: medium;
}
p{
    font-family:'Times New Roman', Times, serif;
    font-size: medium;
}
img{
    height:auto;
    width: auto;
}
